/*header-nav begin*/
#header {
    position: fixed;
    top: 0;
    width: 100%;
    height:200px;
    background: #fff;
    text-align: center;
    /* border-bottom: 1px solid rgb(66, 57, 57); */
    box-shadow: 0 1px 1px rgba(0,0,0,.04);
    z-index: 9999;
}
#header .header_bg{
    width: 100%;
    /* background: url(../images/fw_bg.jpg) center no-repeat; */
    height: 140px;
    background-color: #8f000b; 
    /* background-color: #cf4053;  */
    /* border:1px solid #0cf; */
}
#header .header-content {
    width: 100%;
    margin: 0 auto;
    /* margin:10px 10px 10px 10px; */
}
#header .header_bg .logo_pku{
    /* display: inline-block; */
    width: 80px;
	  height: 100px;
    background: url(../images/pkulogo_white.png) center no-repeat;
    margin-right: 30px;
}
#header .header_bg .group_name{
    /* margin: 20px 40px 20px 0px; */
}
#header .header_bg .group_name > p{
    font-size:34px;
    text-shadow:5px 5px 5px black;
    color:white;
    font-family: "Comic Sans MS","Microsoft YaHei";
    white-space: nowrap;
    margin: 0;
}
#header .header_bg .group_name > p1{
    font-family: "Comic Sans MS";
    font-size:22px;
    font:70 18x "Comic Sans MS";
    text-shadow:5px 5px 5px black;
    color:white;
    white-space: nowrap;
}
#header .logo {
    float: left;
    padding-left: 6px;
    font-size: 22px;
    font-weight:400;
}
#header .logo a{
    position: relative;
}
#header .logo span{
    position: absolute;
    left: -10px;
    top:-30px;
    width: 60px;
    font-size: 14px;
    opacity:0;
}
#header .logo a:hover {
    color: #555;
}
#header nav {
    width: 1000px;
    margin: auto;
    height: 60px;
    position: relative;
}
.dairy>a:hover .dairy-menu{
    height: 120px;
    opacity: 1;
}
#nav-list {
    /* float: left; */
    /* margin-left: 50px; */
    background: url(../images/spirit.png) 0px 0px no-repeat;
    width: 690px;
    margin: 0 auto;
}
#nav-list li {
    float: left;
    width: 100px;
    /* color:#444; */
    text-align: center;
    display: block;
    font-size: 16px;
    margin-right: 15px;
}
#nav-list a{
    display:block;
    width: 100px;
    height: 60px;
    color:#444;
    line-height: 60px;
}
#header .sub-menu {
    position: relative;
}
#header .dairy-menu {
    position:absolute;
    top:60px;
    left:0px;
    height:0px;
    width:100%;
    background: #3690CF;
    opacity:0;
    /*注意不加overflow会出现没有展开就出现文字的bug*/
    overflow: hidden;
}
/*header-nav end*/