.content{
   width: 80%;
   padding: 0 10%;
   margin-top: 81px; 
}
/* 轮播图 start */
.banner{
    width: 80%;
    margin: 0 auto;
}
.banner a {
    text-align: center;
}
.banner .bannerTop{
    width: 100%;
    float: left;
    margin-top: 10px;
}
.banner .bannerBottom{
    width: 100%;
    float: right;
    position: relative;
}
.bannerTop .topItem li{
    width: 100%;
    display: none;
}
.bannerTop .topItem li.active{
    display: block;
}
.bannerTop .topItem li img{
    width: 100%;
}
.banner .bannerBottom{
    width: 100%;
    height: 100px;
    margin-top: 10px;
    overflow: hidden;
    overflow-x: scroll;
    position: relative;
}
.banner .bannerBottom::-webkit-scrollbar {
    display: none;
}
.banner .bannerBottom .prev,
.banner .bannerBottom .next{
    width: 30px;
    height: 100px;
    line-height: 100px;
    display: block;
    background: rgba(153,153,153,.2);
    color: #fff;
    text-align: center;
    position: absolute;
    top: 0;
    z-index: 2;
}
.banner .bannerBottom .prev{
    left: 0;
}
.banner .bannerBottom .next{
    right: 0;
}
.bannerBottom .bottomItem {
    float: left;
    height: 100px;
    display: inline-block;
    position: absolute;top: 0;
    left: 0;
}
.bannerBottom .bottomItem li{
    display: flex;
    align-items: center;
    width: 210px;
    height: 100px;
    margin-right: 10px;
    float: left;
}
.bannerBottom .bottomItem li img{
    width: 100%;
    background: #000;
    opacity: .2;
}
.bannerBottom .bottomItem li img.active{
    opacity: 1;
}
/* 轮播图 end */
img {
  width: 100%;
}
/* 新闻通告 */
.newsAndResearch {
    display: flex;
}
#research {
    border-right: 2px dashed #ccc;
    margin-right: 10px;
}
#research,
.news {
    /* flex:1; */
    width: 50%;
}
.title {
   border-left: 8px solid #8c0000; 
   padding-left: 10px;
   margin-top: 10px;
   margin-bottom: 10px;
}
#research ul,
.news ul {
    height: 300px;
    overflow: auto;
}
#research ul li,
.news ul li {
    display: flex;
    padding-bottom: 10px;
}
#research .triangle_border_right {
    width: 20px;
    height: 20px;
    background-image: url(../images/home_icon_go_black.png); 
    background-size: 20px 20px;
}
.news ul li a {
    display: inline-block;
    width: 400px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.news ul li .triangle_border_right{
 width: 20px;
 height: 20px;
 background-image: url(../images/home_icon_go_black.png); 
 background-size: 20px 20px;
}
.newsAndResearch ul li span {
    display: block;
}