.content {
  padding-top: 20px;
}
.content .avaturPic {
  float: right;
  width: 200px;
  margin-top: 20px;
  margin-left: 10px;
}
.content .TeacherName {
  border-bottom: 2px solid #8c0000;
}
.content .teacherTitle {
  border-left: 5px solid #8c0000;
  padding-left: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.content p {
  text-indent: 2em;
}
.content ul li {
  padding: 5px 0;
}
