a{
	text-decoration:none;
	color:#0454a7;
}
.news{
	width:100%;
	margin:auto;
	border: solid 1px #bbb;
	border-top: solid 3px #094683;
	padding:11px 20px 15px;
	}
.news h2{
  color: #000;
  font-family: "Microsoft Yahei","微软雅黑", "黑体";
  font-size: 0.22rpx;
  font-weight: normal;
  height: 35px;
  line-height: 35px;
  overflow: hidden;
  text-align: center;
	}
.artInfo{
  border-bottom: solid 1px #ccc;
  color: #999;
  padding: 10px 0;
  text-align: center;
  font-size:0.14rpx;
}
.artInfo a{
	color: #999;
	text-decoration:none;
	margin: 0 10px;
	}
.artInfo a:hover{
  text-decoration:none;
}
.time{
	margin:0 10px;}
.re{
	color:#b60c0c!important;}
.article{
	padding:20px;
	 font-size: 0.16rpx;
  line-height: 23px;
  color:#333;}
.img-wrap{
	text-align:center;
}
.img-wrap img{
    margin: 0 auto;
    padding-bottom: 15px;
    width: 80%;
}
.img-wrap span{
	  line-height: 20px;
  padding: 6px 0;
  color: #666;
  font-size: 0.14rpx;
  margin: 5px auto;
  display: inline-block;
}
.article p{
  text-align: left;
  text-indent:2em;
  }
 .ln{
	 border:1px dashed #ccc;
	 padding:20px;
   margin-top:20px;
   margin-bottom: 20px;
}
.ln a{
	color:#0454a7;
	text-decoration:none;
	}
	.ln div{
		margin-left: 40px;
	}
	.ln div a{
		color: #000;
		line-height: 23px;
		margin: 0;
        padding-top: 3px;
        
    }
    .ln div a:hover{
        text-decoration:none;
	    color:#0454a7;
    }
.info{
	text-align:right;
  font-size:0.14rpx;
  padding-top:20px;
  /* padding-bottom:20px; */
}
.keywords{
	margin: 10px 0;}
.keywords span{
	font-weight:bold;
}	

.load{
	margin: 0 20px;
	padding:2px 0;
	border:1px solid #0454a7;
	text-align:center;
	background-color:rgb(222, 226, 243);
  }
  .info strong{
    color: red;
  }
  a:hover{
    text-decoration:none;
  }