<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>学术成果</title>
<meta name="keywords" content="北京大学课题组" />
<meta name="description" content="北京大学课题组" />
<!-- <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0;"> -->
<link href="../css/common.css" rel="stylesheet">
<link href="../css/header-nav.css" rel="stylesheet">
<link href="../css/studyDirection.css" rel="stylesheet">
<!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<script src="../js/plugin/jquery.min.js" ></script>
<script src="../js/common.js"></script>
<script src ='../js/animate.js'></script>
<!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<script src="../js/plugin/template-web.js"></script>
<script src="../js/plugin/bootstrapPager.js"></script>
<script src="../js/plugin/qunit-1.11.0.js"></script>
<script src ='../js/studyDirection.js'></script>
</head>
<body>
<header class="header-navigation" id="header">
  <!--to do nav-list-->
</header>
<div class="content"> 
  <div class="left">
    <div class="item1">
      <h3 class="leftTitle">Overview</h3>
      <ul>
        <li>Prof.YanfengZhang's publication record can also be found at the following public profiles: </li>
        <li><a href="https://cc.glgoo.top/citations?user=_RJmuV0AAAAJ&hl=zh-CN"  target="view_window">Google Scholar</a></li>
        <li><a href="https://www.scholarmate.com/psnweb/outside/homepage?des3PsnId=77pmYOP1McrOwo05l5nyCg%3D%3D"  target="view_window">Scholar Mate</a></li>
        <li><a href="http://www.researcherid.com/rid/N-3760-2013"  target="view_window">Research ID</a></li>
      </ul>
    </div>
    <div class="item2">
      <h3 class="leftTitle">Acknowledgements</h3>
      <ul>
        <li><a href="http://www.coe.pku.edu.cn/"  target="view_window">北京大学工学院</a></li>
        <li><a href="http://www.chem.pku.edu.cn/cnc/cn/"  target="view_window">北京大学纳米化学研究中心</a></li>
        <li><a href="http://www.nsfc.gov.cn"  target="view_window">国家自然科学基金委</a></li>   
      </ul>
    </div>
    <div class="item2">
      <h3 class="leftTitle">Acknowledgements</h3>
      <ul>
        <li><a href="http://www.coe.pku.edu.cn/"  target="view_window">北京大学工学院</a></li>
        <li><a href="http://www.chem.pku.edu.cn/cnc/cn/"  target="view_window">北京大学纳米化学研究中心</a></li>
        <li><a href="http://www.nsfc.gov.cn"  target="view_window">国家自然科学基金委</a></li>   
      </ul>
    </div>
  </div>
  <div class="right">
    <div class="publication" id="pubRender">
      <!-- publicationList -->
    </div>
    <!-- 分页器 -->
    <div class="paginationInfo">
      <nav aria-label="Page navigation">
        <ul id='paginator'  class="pagination" >
        <!-- pagination -->
        </ul>
        <!-- 一共3页100条数据 -->
        <span class="totalInfo"></span>
      </nav>
    </div>
    <div class="selYear">
      <select id="changeYear">
        <option value="default">选择年份</option>
        <option value ="2019">2019</option>
        <option value="2018">2018</option>
        <option value="2017">2017</option>
        <option value="2016">2016</option>
        <option value="2015">2015</option>
        <option value="2014">2014</option>
        <option value="2013">2013</option>
        <option value="2012">2012</option>
        <option value="2011">2011</option>
        <option value="2010">2010</option>
      </select>
    </div>
  </div>
</div>
<footer>
  <p>College of Engineering</p>
  <p>
    <span class="footerPaddingRight">Peking University, Beijing, China</span>
    <span>@YFZ Group All rights reserved</span>
  </p>
</footer>
<script type="text/template" id="publicationList">
<ul class="publicationList">
  {{each list as value}}
  <li>
    <a href="{{value.aHref}}" class="clearfix" target="view_window">
      <!-- <div class="itemImg">
        {{if value.picUrl}}
          <img src="{{value.picUrl}}" alt="">
        {{else}}
          <span class="noPicUrl">
          暂无缩略图
          </span>
        {{/if}}
      </div> -->
      <div class="itemDetail">
        <h3><span class="publicationTitle">{{value.id}}.{{value.publicationTitle}}</span><time>{{value.year}}</time></h3>
        <!-- <p>{{value.publicationPro}}</p> -->
      </div>
    </a>
  </li>
  {{/each}}
  {{ if !list.length}}
    <li class="hasNoData">没有相关文献</li>
  {{/if}}
</ul>
</script>
</body>
</html>
